button:hover {
    background-color: blue;
    color: white;
}

input:focus {
    border: 2px solid green;
    background-color: red;
    outline: solid 2px orange;
}
p:first-child{
    font-weight: bold;
}
li:last-child{
    color: red;
}

/* Linhas pares da tabela */
tr:nth-child(even){
    background-color: lightgray;
}
/* Linhas ímpares da tabela */
tr:nth-child(odd){
    background-color: white;
}

table{
    border-collapse: collapse;
    width: 50%;
}

td, th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}